# TF/IDF - Term Frequencey/ Inverse Document Frequency

---
            D1  D2  D3
Education   15  0   0

Sport       0   25  0

Stock       0   0   35


---


D1 - Related to Education

D2 - Related to Sport

D3 - Related to Stock/ Finance

IDF - LogD/Di

D = Number of documents

Di = Number of documents word appearing in

IDF - It checks the rareness of words. We call it inverse as it checks like -


---


T - D (TF)

D - T (IDF)

IDF
Education - 0.47

Sport - 0.47

Stock - 0.47

the = 0

New Matrix

---

7 0 0

0 10 0

0 0 15

0 0 0

This matrix will be obtained by :

M[i][j] * IDF[i]



---

Query : Tell the document for stock price:

Q - 0 0 1 0

Since we search for stock and index of stock was 2 in matrix so only 1 at 2 index and rest are zero

Now find Q.D1, Q.D2, Q.D3

**Q.D1**

0  

0

0

0


**Q.D2**

0  

0

0

0


**Q.D3**

0  

0

15

0

TF/IDF Vectorizer is used to convert nlp data into numeric data vectors.

Popular techniques

Glove, FastTex, BERT, GPT, One hot encoder, Word 2 vec

**Note:** One hot encoder has very much disadvantages so we use BERT, GPT, WORD2VEC

In [1]:
name = "Yash"
class_roll = 53
university_roll = "2115500160"

In [2]:
# Take three strings str1, str2, str3 and create list of all the words in that particular strings in a single list.
# Then create documents like for each word create D1 D2 D3 and then create vectors and calculate idf and all.

In [3]:
education = "Exploring the vast universe of knowledge education lights up our minds like constellations in the night sky. Each lesson is a journey and with every step we expand the horizons of our understanding"

In [4]:
finance = "Delving into the realm of finance is like navigating a dynamic landscape of numbers and decisions From budgeting to investments each choice plants the seed for future financial growth"

In [5]:
stock = "Exploring the world of stocks is akin to deciphering a constantly changing puzzle Each ticker symbol represents a unique narrative and with every trade a new chapter is written in the story of the market."

In [6]:
education = "GLA is the best University"
finance = " Stock price of Reliance is 2500 Rs."
stock = "Cricket is the most popular sport"

In [7]:
words = []
temp = education.split(" ")
for i in temp:
  if(i not in words):
    words.append(i)

temp = finance.split(" ")
for i in temp:
  if(i not in words):
    words.append(i)

temp = stock.split(" ")
for i in temp:
  if(i not in words):
    words.append(i)

# words

In [8]:
d = {}
for i in words:
  d[i] = [0,0,0,0]

In [9]:
for i in words:
  if(i in education):
    prev = d[i][0]
    lst = d[i]
    lst[0] = prev+1;
  if(i in finance):
    prev = d[i][1]
    lst = d[i]
    lst[1] = prev+1;
    d[i] = lst
  if(i in stock):
    prev = d[i][2]
    lst = d[i]
    lst[2] = prev+1;
    d[i] = lst
print(d)
print(name,class_roll,university_roll)

{'GLA': [1, 0, 0, 0], 'is': [1, 1, 1, 0], 'the': [1, 0, 1, 0], 'best': [1, 0, 0, 0], 'University': [1, 0, 0, 0], '': [1, 1, 1, 0], 'Stock': [0, 1, 0, 0], 'price': [0, 1, 0, 0], 'of': [0, 1, 0, 0], 'Reliance': [0, 1, 0, 0], '2500': [0, 1, 0, 0], 'Rs.': [0, 1, 0, 0], 'Cricket': [0, 0, 1, 0], 'most': [0, 0, 1, 0], 'popular': [0, 0, 1, 0], 'sport': [0, 0, 1, 0]}
Rishank Mehrotra 47 2115500122

In [10]:
import math
for i in d:
  di = 0
  if i in education:
    di = di+1
  if i in finance:
    di = di+1
  if i in stock:
    di = di+1
  idf_value = math.log(3 / di)
  d[i][3] = idf_value

In [11]:
print(d)
print(name,class_roll,university_roll)

{'GLA': [1, 0, 0, 1.0986122886681098], 'is': [1, 1, 1, 0.0], 'the': [1, 0, 1, 0.4054651081081644], 'best': [1, 0, 0, 1.0986122886681098], 'University': [1, 0, 0, 1.0986122886681098], '': [1, 1, 1, 0.0], 'Stock': [0, 1, 0, 1.0986122886681098], 'price': [0, 1, 0, 1.0986122886681098], 'of': [0, 1, 0, 1.0986122886681098], 'Reliance': [0, 1, 0, 1.0986122886681098], '2500': [0, 1, 0, 1.0986122886681098], 'Rs.': [0, 1, 0, 1.0986122886681098], 'Cricket': [0, 0, 1, 1.0986122886681098], 'most': [0, 0, 1, 1.0986122886681098], 'popular': [0, 0, 1, 1.0986122886681098], 'sport': [0, 0, 1, 1.0986122886681098]}
Rishank Mehrotra 47 2115500122

In [12]:
for i in d:
  arr = d[i]
  for j in range(3):
    arr[j] = arr[j] * arr[3]
  d[i] = arr

In [13]:
print(d)
print(name,class_roll,university_roll)

{'GLA': [1.0986122886681098, 0.0, 0.0, 1.0986122886681098], 'is': [0.0, 0.0, 0.0, 0.0], 'the': [0.4054651081081644, 0.0, 0.4054651081081644, 0.4054651081081644], 'best': [1.0986122886681098, 0.0, 0.0, 1.0986122886681098], 'University': [1.0986122886681098, 0.0, 0.0, 1.0986122886681098], '': [0.0, 0.0, 0.0, 0.0], 'Stock': [0.0, 1.0986122886681098, 0.0, 1.0986122886681098], 'price': [0.0, 1.0986122886681098, 0.0, 1.0986122886681098], 'of': [0.0, 1.0986122886681098, 0.0, 1.0986122886681098], 'Reliance': [0.0, 1.0986122886681098, 0.0, 1.0986122886681098], '2500': [0.0, 1.0986122886681098, 0.0, 1.0986122886681098], 'Rs.': [0.0, 1.0986122886681098, 0.0, 1.0986122886681098], 'Cricket': [0.0, 0.0, 1.0986122886681098, 1.0986122886681098], 'most': [0.0, 0.0, 1.0986122886681098, 1.0986122886681098], 'popular': [0.0, 0.0, 1.0986122886681098, 1.0986122886681098], 'sport': [0.0, 0.0, 1.0986122886681098, 1.0986122886681098]}
Rishank Mehrotra 47 2115500122

# TF-IDF - Vectorizer

In [14]:
str1 = "GLA GLA is the best University"
str2 = "Stock GLA price of Reliance is 2500 Rs."
str3 = "Cricket is the most popular sport"

In [15]:
collection = [str1, str2, str3]

In [16]:
print(collection)
print(name,class_roll,university_roll)

['GLA GLA is the best University', 'Stock GLA price of Reliance is 2500 Rs.', 'Cricket is the most popular sport']
Rishank Mehrotra 47 2115500122

In [17]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [18]:
tfidf = TfidfVectorizer()
tfidf1 = tfidf.fit_transform(collection)

In [19]:
print(tfidf1)
print(name,class_roll,university_roll)

  (0, 14)	0.43681765680021456
  (0, 1)	0.43681765680021456
  (0, 13)	0.3322110871696405
  (0, 4)	0.25799154486720605
  (0, 3)	0.664422174339281
  (1, 10)	0.3799446164315741
  (1, 0)	0.3799446164315741
  (1, 9)	0.3799446164315741
  (1, 6)	0.3799446164315741
  (1, 8)	0.3799446164315741
  (1, 12)	0.3799446164315741
  (1, 4)	0.22440141104916914
  (1, 3)	0.28895767404089806
  (2, 11)	0.450504072643198
  (2, 7)	0.450504072643198
  (2, 5)	0.450504072643198
  (2, 2)	0.450504072643198
  (2, 13)	0.3426199591918006
  (2, 4)	0.2660749625405929
Rishank Mehrotra 47 2115500122

In [20]:
print(tfidf.vocabulary_)
print(tfidf.idf_)
print(name,class_roll,university_roll)

{'gla': 3, 'is': 4, 'the': 13, 'best': 1, 'university': 14, 'stock': 12, 'price': 8, 'of': 6, 'reliance': 9, '2500': 0, 'rs': 10, 'cricket': 2, 'most': 5, 'popular': 7, 'sport': 11}
[1.69314718 1.69314718 1.69314718 1.28768207 1.         1.69314718
 1.69314718 1.69314718 1.69314718 1.69314718 1.69314718 1.69314718
 1.69314718 1.28768207 1.69314718]
Rishank Mehrotra 47 2115500122

In [21]:
terms = tfidf.get_feature_names_out()
print(terms)
print(name,class_roll,university_roll)

['2500' 'best' 'cricket' 'gla' 'is' 'most' 'of' 'popular' 'price'
 'reliance' 'rs' 'sport' 'stock' 'the' 'university']
Rishank Mehrotra 47 2115500122

In [22]:
import pandas as pd

In [23]:
df = pd.DataFrame(
    data = tfidf1.toarray(),
    index = ['d1','d2', 'd3'],
    columns = terms
)

In [24]:
df

,2500,best,cricket,gla,is,most,of,popular,price,reliance,rs,sport,stock,the,university
d1,0.000000,0.436818,0.000000,0.664422,0.257992,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.332211,0.436818
d2,0.379945,0.000000,0.000000,0.288958,0.224401,0.000000,0.379945,0.000000,0.379945,0.379945,0.379945,0.000000,0.379945,0.000000,0.000000
d3,0.000000,0.000000,0.450504,0.000000,0.266075,0.450504,0.000000,0.450504,0.000000,0.000000,0.000000,0.450504,0.000000,0.342620,0.000000

In [25]:
print(name,class_roll,university_roll)

Rishank Mehrotra 47 2115500122